version: '2'

services:
  agent:
    image: drone/agent:${version}
    command:
      - agent
    environment:
      DRONE_SERVER: drone:9000
      DRONE_SECRET: ${secret}
      DOCKER_API_VERSION: 1.24
    links:
      - drone:drone
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      io.rancher.container.hostname_override: container_name
      io.rancher.scheduler.affinity:container_label_soft_ne: io.rancher.stack_service.name={{.Stack.Name}}/agent

  drone:
    image: drone/drone:${version}
    environment:
      DRONE_DATABASE_DATASOURCE: ${mysql_user}:${mysql_password}@tcp(mysql:${mysql_port})/${mysql_database}?parseTime=true
      DRONE_DATABASE_DRIVER: mysql
      DRONE_HOST: ${base_url}
      DRONE_OPEN: ${open_registration}
      DRONE_SECRET: ${secret}
      GIN_MODE: release
{{- if (.Values.drone_admin)}}
      DRONE_ADMIN: ${drone_admin}
{{- end}}
{{- if (.Values.organizations)}}
      DRONE_ORGS: ${organizations}
{{- end}}
{{- if eq .Values.remote_driver "GitHub"}}
      DRONE_GITHUB: true
      DRONE_GITHUB_CLIENT: ${remote_driver_access_key}
      DRONE_GITHUB_SECRET: ${remote_driver_secret_key}
{{- end}}
{{- if eq .Values.remote_driver "Bitbucket Cloud"}}
      DRONE_BITBUCKET: true
      DRONE_BITBUCKET_CLIENT: ${remote_driver_access_key}
      DRONE_BITBUCKET_SECRET: ${remote_driver_secret_key}
{{- end}}
{{- if eq .Values.remote_driver "Bitbucket Server"}}
      DRONE_STASH: true
      DRONE_STASH_GIT_USERNAME: ${remote_driver_user}
      DRONE_STASH_GIT_PASSWORD: ${remote_driver_password}
      DRONE_STASH_CONSUMER_KEY: ${remote_driver_access_key}
      DRONE_STASH_CONSUMER_RSA_STRING: ${remote_driver_secret_key}
      DRONE_STASH_URL: ${remote_driver_url}
{{- end}}
{{- if eq .Values.remote_driver "GitLab"}}
      DRONE_GITLAB: true
      DRONE_GITLAB_CLIENT: ${remote_driver_secret_key}
      DRONE_GITLAB_SECRET: ${remote_driver_secret_key}
      DRONE_GITLAB_URL: ${remote_driver_url}
{{- end}}
{{- if eq .Values.remote_driver "Gogs"}}
      DRONE_GOGS: true
      DRONE_GOGS_URL: ${remote_driver_url}
{{- end}}
{{- if (.Values.public_port)}}
    ports:
      - ${public_port}:8000
{{- end}}
{{- if (.Values.mysql_host)}}
    external_links:
      - ${mysql_host}:mysql
{{- else}}
    links:
      - mysql:mysql
{{- end}}
    labels:
      io.rancher.container.hostname_override: container_name
      io.rancher.scheduler.affinity:container_label_soft_ne: io.rancher.stack_service.name={{.Stack.Name}}/drone

{{- if not (.Values.mysql_host)}}
  mysql:
    image: mariadb:10.3.7
    environment:
      MYSQL_DATABASE: ${mysql_database}
      MYSQL_USER: ${mysql_user}
      MYSQL_PASSWORD: ${mysql_password}
      MYSQL_RANDOM_ROOT_PASSWORD: true
    volume_driver: ${volume_driver}
    volumes:
      - {{.Stack.Name}}--mysql-data:/var/lib/mysql
    labels:
      io.rancher.container.hostname_override: container_name
{{- end}}
